<mat-card style="text-align: center">
  <h3>My Projects</h3>
  <div class="projectsContainer" *ngFor="let project of projects">

    <div class="projectsContent">

      <i *ngIf="project.url === 'https://hackathon-online.web.app'" class="fas fa-heading"></i>
      <img *ngIf="project.url !== 'https://hackathon-online.web.app'" [src]="project.imgURL">
      <div>
        <h4><p>{{project.name}}</p></h4>
        <div class="projectsContent" *ngFor="let p of project.detailsParagraphs">
          <p >{{p}}</p>
        </div>
      </div>
      <h4>Access here:</h4>
      <a mat-flat-button href="{{project.url}}" target="_blank">{{project.url}}</a>

    </div>

  </div>
</mat-card>
